@{
  ViewData["Title"] = "Page not found";
}

<div class="notfound-container">
  <span class="notfound-text">Opps! Seems you found nothing here.</span>
  <div class="notfound-img">
    <img src="~/image/404.png" alt="Not found">
  </div>
</div>