@{
  ViewData["Title"] = "Orders";
  ViewBag.NavActive = "Order";
}

<h3 class="page-title">Orders</h3>
<div class="breakcrumb">
  <span class="breakcrumb-root">Manage</span>
  <i class="fa-solid fa-angles-right"></i>
  <span><a href="/admin/orders">Orders</a></span>
</div>