@{
  ViewData["Title"] = "Change password";
  ViewBag.NavActive = "Administrator";
}

<h3 class="page-title">Change Password</h3>
<div class="breakcrumb">
  <span class="breakcrumb-root">Manage</span>
  <i class="fa-solid fa-angles-right"></i>
  <span><a href="/admin/user/administrators">Administrators</a></span>
  <i class="fa-solid fa-angles-right"></i>
  <span>Change Password</span>
</div>
<div class="content">
  <div class="card">
    <div class="card-header">
      <span class="card-title">User Password</span>
    </div>
    <div class="card-body">
      <div class="form">
        <div class="form-col">
          <span class="form-title">Old Password</span>
          <div class="form-password">
            <input type="password" autocomplete="new-password" name="old-password" class="form-input">
            <span class="form-password-btn">
              <i class="fas fa-eye"></i>
            </span>
          </div>
          <span class="old-password-error form-error text-danger hidden">Password must be at least 6 characters
            long.</span>
        </div>
        <div class="form-col">
          <span class="form-title">New Password</span>
          <div class="form-password">
            <input type="password" autocomplete="new-password" name="new-password" class="form-input">
            <span class="form-password-btn">
              <i class="fas fa-eye"></i>
            </span>
          </div>
          <span class="new-password-error form-error text-danger hidden">Password must be at least 6 characters
            long.</span>
        </div>
        <div class="form-col">
          <span class="form-title">Confirm Password</span>
          <div class="form-password">
            <input type="password" name="confirm-password" class="form-input">
            <span class="form-password-btn">
              <i class="fas fa-eye"></i>
            </span>
          </div>
          <span class="confirm-password-error form-error text-danger hidden">The password and confirm password do not
            match.</span>
        </div>
        <div class="form-buttons">
          <button class="button button-gb form-button" id="save-button" onclick="changePassword()">Save</button>
        </div>
        <div class="form-message">
          <span class="form-error text-danger hidden">Something went wrong!</span>
          <span class="form-success text-success hidden">Update successfuly!</span>
        </div>
      </div>
    </div>
  </div>
</div>

@section JS {
  <script>
    const formPasswords = document.querySelectorAll(".form-password");
    const oldPassword = document.querySelector("input[name='old-password']")
    const newPassword = document.querySelector("input[name='new-password']")
    const confirmPassword = document.querySelector("input[name='confirm-password']")
    const oldPasswordErr = document.querySelector(".old-password-error")
    const newPasswordErr = document.querySelector(".new-password-error")
    const confirmPasswordErr = document.querySelector(".confirm-password-error")
    const errorDom = document.querySelector(".form-message .form-error")
    const successDom = document.querySelector(".form-message .form-success")

    formPasswords.forEach((item) => {
      const input = item.querySelector("input");
      const btnShow = item.querySelector(".form-password-btn");

      btnShow.addEventListener("click", () => {
        if (input.type == "password") {
          input.type = "text";
          btnShow.innerHTML = `<i class="fas fa-eye-slash"></i>`;
        } else {
          input.type = "password";
          btnShow.innerHTML = `<i class="fas fa-eye"></i>`;
        }
      });
    });

    const validate = () => {
      oldPasswordErr.classList.add("hidden")
      newPasswordErr.classList.add("hidden")
      confirmPasswordErr.classList.add("hidden")
      successDom.classList.add("hidden");
      errorDom.classList.add("hidden");

      let check = true

      if (oldPassword.value.length < 6) {
        oldPasswordErr.classList.remove("hidden")
        check = false
      }

      if (newPassword.value.length < 6) {
        newPasswordErr.classList.remove("hidden")
        check = false
      }

      if (newPassword.value != confirmPassword.value) {
        confirmPasswordErr.classList.remove("hidden")
        check = false
      }

      return check
    }

    const changePassword = () => {
      if (validate()) {
        AjaxPost(
          "/admin/api/user/change-password",
          { UserId, OldPassword: oldPassword.value, NewPassword: newPassword.value },
          (responseText) => {
            const data = JSON.parse(responseText);

            if (data.success) {
              successDom.classList.remove("hidden");
            } else {
              errorDom.innerHTML =
                data.message ?? "Something went wrong, try again in a few minutes.";
              errorDom.classList.remove("hidden");
            }
          }
        );
      }
    }
  </script>
}