@model User

@{
  ViewData["Title"] = "Customer Detail";
  ViewBag.NavActive = "Customer";

  List<UserContact> Contacts = ViewBag.Contacts;
}

@section CSS {
  <style>
    .form {
      border: none;
    }

    .form-error {
      padding: 0 !important;
    }
  </style>
}

<h3 class="page-title">Customer Detail</h3>
<div class="breakcrumb">
  <span class="breakcrumb-root">Manage</span>
  <i class="fa-solid fa-angles-right"></i>
  <span><a href="/admin/user/customers">Customers</a></span>
  <i class="fa-solid fa-angles-right"></i>
  <span>@Model.FullName</span>
</div>
<div class="content">
  <div class="flex cl-gap">
    <div class="col-8 pd-gap">
      <div class="card">
        <div class="card-header">
          <span class="card-title">User Info</span>
        </div>
        <div class="card-body">
          <div class="form">
            <div class="flex cl-gap">
              <div class="col-6 pd-gap">
                <div class="form-col">
                  <span class="form-title">First Name</span>
                  <input type="text" asp-for="FirstName" class="form-input" disabled>
                  <span asp-validation-for="FirstName" class="form-error text-danger"></span>
                </div>
              </div>
              <div class="col-6 pd-gap">
                <div class="form-col">
                  <span class="form-title">Last Name</span>
                  <input type="text" asp-for="LastName" class="form-input" disabled>
                  <span asp-validation-for="LastName" class="form-error text-danger"></span>
                </div>
              </div>
            </div>
            <div class="form-col">
              <span class="form-title">Email</span>
              <input type="text" asp-for="Email" class="form-input" disabled>
              <span asp-validation-for="Email" class="form-error text-danger"></span>
            </div>
            <div class="form-col">
              <span class="form-title">Birthdate</span>
              <input type="date" asp-for="Birthdate" class="form-input" disabled>
              <span asp-validation-for="Birthdate" class="form-error text-danger"></span>
            </div>
            <div class="form-col">
              <span class="form-title">Gender</span>
              <div class="form-radios">
                <div class="form-radio-row">
                  <input type="radio" asp-for="Gender" id="male" class="form-input" value="true" checked disabled>
                  <label for="male" class="">Male</label>
                </div>
                <div class="form-radio-row">
                  <input type="radio" asp-for="Gender" id="female" class="form-input" value="false" disabled>
                  <label for="female" class="">Femail</label>
                </div>
              </div>
              <span asp-validation-for="Gender" class="form-error text-danger"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span class="card-title">Address</span>
        </div>
        <div class="card-body">
          <div class="contact-list">
            @foreach (var contact in Contacts)
            {
              <div class="contact-item">
                <div class='contact-row'>
                  <span class='contact-label'>Phone number</span>
                  <span class='contact-desc'>@contact.PhoneNumber</span>
                </div>
                <div class='contact-row'>
                  <span class='contact-label'>Address</span>
                  <span class='contact-desc'>@contact.Address</span>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span class="card-title">Ordered</span>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-4 pd-gap">
      <div class="card">
        <div class="card-header">
          <span class="card-title">Status</span>
        </div>
        <div class="card-body">
          <div class="form-col">
            <div class="form-radios">
              <div class="form-radio-row">
                <input type="radio" asp-for="Active" id="active" class="form-input" value="true" disabled />
                <label for="active" class="text-success">Active</label>
              </div>
              <div class="form-radio-row">
                <input type="radio" asp-for="Active" id="unactive" class="form-input" value="false" disabled />
                <label for="unactive" class="text-danger">Unactive</label>
              </div>
            </div>
            <span asp-validation-for="Active" class="form-error text-danger"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>