@model WatchShop2.Models.Product

<h1>cac @ViewBag.FileStatus</h1>
<div>
  <h3>Upload one</h3>
  <form method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label asp-for="Price"></label>
      <input asp-for="Price" />
    </div>

    <div class="form-group">
      <label asp-for="SizeId" class="control-label"></label>
      <select asp-for="SizeId" class="form-control" asp-items="ViewBag.Sizes"></select>
    </div>

    <div class="form-group">
      <label asp-for="ProductImages" class="control-label"></label>
      <input asp-for="ProductImages" name="productImage" type="file" class="form-control"
        onchange="previewImage(this)" />
    </div>

    <img id="imagePreview" class="img-preview rounded-12"
      src="~/image/products/california-watch-co-mavericks-chrono-ss-navy-red-1.png" alt="Preview"
      style="max-width: 200px;" />

    <button class="btn btn-danger">Upload</button>
  </form>
</div>
<br>
<br>
<br>
<br>
<div>
  <h3>Upload multiple</h3>
  <form action="/upload-multi" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label asp-for="ProductImages" class="control-label"></label>
      <input asp-for="ProductImages" name="productImages" type="file" multiple class="form-control"
        onchange="previewImages(this)" />
    </div>

    <div class="image-previews flex">
      <img class="img-preview rounded-12" src="~/image/products/california-watch-co-mavericks-chrono-ss-navy-red-1.png"
        alt="Preview" style="max-width: 200px;" />
      <img class="img-preview rounded-12" src="~/image/products/california-watch-co-mavericks-chrono-ss-navy-red-1.png"
        alt="Preview" style="max-width: 200px;" />
    </div>

    <button class="btn btn-danger">Upload multi</button>
  </form>
</div>


@section JS {
  <script>
    function previewImage(input) {
      var preview = document.getElementById('imagePreview');
      var file = input.files[0];
      if (file) {
        preview.src = URL.createObjectURL(file);
      } else {
        preview.src = "~/image/products/california-watch-co-mavericks-chrono-ss-navy-red-1.png";
      }
    }


    function previewImages(input) {
      var preview = document.querySelector('.image-previews');
      var files = input.files;
      if (files) {
        let htmls = ""
        for (let i = 0; i < files.length; i++) {
          htmls += `
                <img class="img-preview rounded-12"
                  src="${URL.createObjectURL(files[i])}" alt="Preview"
                  style="max-width: 200px;" />
                `
        }
        preview.innerHTML = htmls;
      } else {
        preview.innerHTML = ``
      }
    }
  </script>
}