.instock {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

/* ===== Modal ===== */
.missing-address__link:hover {
  color: var(--green-color);
}

.missing-address__link {
  border-bottom: 1px solid currentColor;
  transition: 0.3s;
}

.order-error {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.cartpage__address__container {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ededed;
  display: flex;
  flex-direction: column;
}

.address__title {
  font-size: 16px;
  color: #262626;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ededed;
}

.address__desc span {
  display: block;
  font-size: 14px;
  line-height: 26px;
  color: #262626;
  font-weight: 600;
}

.address__desc .no-address {
  font-weight: normal;
  margin-bottom: 10px;
}

.address__desc .address {
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.address__button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.address-modal__title {
  font-size: 16px;
  color: #262626;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ededed;
}

.change-address-modal .modal-content {
  padding-top: 10px;
  max-width: 400px;
}

.modal__body {
  width: 100%;
}

.change-address-modal .modal__buttons {
  justify-content: space-around;
}

.address-modal__item {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
}

.address-modal__desc {
  width: 100%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  border-bottom: 1px solid #ededed;
}

.address-modal__desc .phonenumber {
  font-size: 14px;
  color: #262626;
  font-weight: 600;
}

.address-modal__desc .address {
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.address-modal__radio {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #00000042;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}

.address-modal__radio .inner {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: var(--green-color);
  display: none;
}

.address-modal__radio:has(.address-radio:checked) .inner {
  display: block;
}

.address-modal__item .address-radio {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* ===== Order Page ===== */
.order__search {
  background: #eaeaea;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.order__search__icon {
  margin-right: 10px;
  font-size: 16px;
  color: #777777;
}

.order__search__input {
  flex-grow: 1;
  background: transparent;
}

.order-item {
  border: 1px solid #ededed;
  margin-bottom: 20px;
}

.order__title {
  border: 1px solid #ededed;
  padding: 15px 20px;
  font-size: 16px;
  color: #262626;
  letter-spacing: 1.2px;
  font-weight: bold;
  margin-bottom: 20px;
}

.order__header {
  padding: 15px 20px;
  border-bottom: 1px solid #ededed;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #262626;
  font-weight: 600;
  margin-bottom: 10px;
}

.header__bottom {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-contact {
  flex-grow: 1;
}

.order-contact {
  display: flex;
  margin-right: 20px;
  gap: 10px;
}

.order-address {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 14px;
}

.cancel-order {
  flex-shrink: 0;
  padding: 3px 10px;
}

.detail-item {
  padding: 20px;
  border-bottom: 1px solid #ededed;
}

/* ===== Cart Page ===== */
.cartpage__detail,
.cartpage__summary__container {
  border: 1px solid #ededed;
}

.cartpage__list {
  padding: 20px 15px;
}

.cartpage__title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
  padding: 15px 30px;
}

.cartpage__title {
  font-size: 16px;
  color: #262626;
  letter-spacing: 1.2px;
}

.cartpage__actions {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  padding: 15px 30px;
}

.cartpage__actions .actions {
  flex-grow: 1;
}

.action__total-cart {
  font-size: 14px;
  color: #262626;
  font-weight: 600;
}

.action-checkall {
  display: flex;
  align-items: center;
}

.action-checkall label {
  font-weight: 600;
  margin-left: 10px;
  font-size: 14px;
  color: #262626;
  cursor: pointer;
}

.cartpage-item {
  padding: 20px 15px;
  display: flex;
  align-items: center;
}

.cartpage-item + .cartpage-item {
  border-top: 1px solid #ededed;
}

.item-checkbox {
  z-index: 1;
  width: 20px;
  height: 20px;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
}

.item-checkbox .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.item-checkbox .checkbox-icon {
  display: none;
  color: var(--green-color);
}

.item-checkbox:has(.checkbox:checked) {
  border-color: var(--green-color);
}

.item-checkbox .checkbox:checked ~ .checkbox-icon {
  display: block;
}

.product__name {
  height: auto;
  color: var(--green-color);
  font-size: 15px;
}

.product__price-box {
  margin-bottom: 5px;
}

.product__discount {
  position: unset;
}

.product__size,
.product__color {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
}

.action__title {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
}

.action__item {
  margin: 0;
}

.product__action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.detail-total,
.detail-quantity,
.cartpage-item__total {
  font-size: 16px;
  font-weight: 600;
}

.cartpage-item-delete {
  font-size: 16px;
  background: transparent;
}

.backto-home {
  display: inline-flex;
  font-weight: 600;
  margin: 15px 0;
  transition: 0.3s;
}

.backto-home:hover {
  color: var(--green-color);
}

.backto-home i {
  font-size: 18px;
  margin-right: 5px;
}

.cartpage__summary__container {
  padding: 20px;
  margin-bottom: 20px;
}

.summary__title {
  font-size: 16px;
  color: #262626;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ededed;
}

.summary__subtotal-products,
.summary__subtotal-shipping,
.cartpage__total {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 26px;
  color: #262626;
  font-weight: 600;
}

.cartpage__summary,
.cartpage__total {
  margin-bottom: 20px;
}

.cartpage__button {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .cartpage-item__detail {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 575px) {
  .detail-img,
  .cartpage-item__img {
    width: 60%;
    margin: 0 auto;
  }
}
